<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#add-country-modal">Add Country</button>
<hr>
<table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Capital</th>
        <th scope="col">Points</th>
        <th scope="col">Flag</th>
        <th scope="col">Country Img</th>
        <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody id="table-countries">
        <!--Placeholder for countries-->
    </tbody>
</table>
<script src="/javascripts/countries.js"></script> -->