<h1 class="title text-center text-uppercase">Results</h1>
<hr>
<form class="form-inline my-2 my-lg-0">
    <input id="result-search-input" class="form-control mr-sm-2" type="search" placeholder="Search Country" aria-label="Search">
    <button id="result-search-submit" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<hr>
<table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Country</th>
        <th scope="col">Date</th>
        <th scope="col">Score</th>
        <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody id="table-results">
        <!--Placeholder for results-->
    </tbody>
</table>