<h1 class="title text-center text-uppercase">Users</h1>
<hr>
<table class="table">
    <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Country</th>
        <th scope="col">Last Active Date</th>
        <th scope="col">Is Premium</th>
        <th scope="col">Is Guest</th>
        <th scope="col">Experience</th>
        </tr>
    </thead>
    <tbody id="table-users">
        <!--Placeholder for users-->
    </tbody>
</table>

<script src="/javascripts/users.js"></script>