<!-- Modal -->
<div id="delete-country-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Country</h4>
            </div>
            <form id='add-country' enctype="multipart/form-data" method="post" name="fileinfo">
                <div class="modal-body">
                    <div class="form-row">
                        <p>Do you want to delete selected country?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" id='cancel-delete-country-js' data-dismiss="modal">Close</button>
                    <button type='button' class="btn btn-danger" id='delete-country-js' data-dismiss="">Delete</button>
                    <input type="hidden" class="remove-value-js" value=""  />
                </div>
            </form>
        </div>
    </div>
</div>